<div class="contact-form-wrap">
    <h5 class="sub-heading-1 text-center-xs">Registro</h5>
<!-- Contact Form Starts -->
    <div class="status alert alert-success contact-status"></div>
    <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
    <!-- Nested Row Starts -->
        <div class="row">
        <!-- First Name Filed Starts -->
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="fname" class="sr-only">Nombre: </label>
                    <input type="text" class="form-control flat" name="nombre" id="nombre" required="required" placeholder="Nombre">
                </div>
            </div>
        <!-- First Name Filed Ends -->
        <!-- Last Name Filed Starts -->
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="lname" class="sr-only">Apellido: </label>
                    <input type="text" class="form-control flat" name="apellido" id="apellido" required="required" placeholder="Apellido">
                </div>
            </div>
        <!-- Last Name Filed Ends -->
        
        
                                    <!-- whats Filed Starts -->
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="lname" class="sr-only">WhatsApp </label>
                    <input type="text" class="form-control flat" name="Whats" id="Whats" required="required" placeholder="WhatsApp">
                </div>
            </div>
        <!-- Last Name Filed Ends -->
        
                                    <!--telefono Filed Starts -->
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="lname" class="sr-only">Teléfono: </label>
                    <input type="text" class="form-control flat" name="tel" id="tel" required="required" placeholder="Teléfono">
                </div>
            </div>
        <!-- Last Name Filed Ends -->
        
        
                                                                <!-- empresa Filed Starts -->
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="lname" class="sr-only">Empresa</label>
                    <input type="text" class="form-control flat" name="Empresa" id="Empresa" required="required" placeholder="Empresa">
                </div>
            </div>
        <!-- Last Name Filed Ends -->
        
                                    <!-- puesto Filed Starts -->
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="lname" class="sr-only">Puesto: </label>
                    <input type="text" class="form-control flat" name="Puesto" id="Puesto" required="required" placeholder="Puesto">
                </div>
            </div>
        <!-- Last Name Filed Ends -->
        
        
        <!-- E-mail Filed Starts -->
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="email" class="sr-only">Correo electrónico: </label>
                    <input type="text" class="form-control flat" name="mail" id="mail" required="required" placeholder="Correo electrónico">
                </div>
            </div>
        <!-- E-mail Filed Ends -->
        <!-- Message Filed Starts -->
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="message" class="sr-only">En que esta intersado: </label>
                    <textarea class="form-control flat" rows="8" name="message" id="message" required="required" placeholder="En que esta interesado"></textarea>
                </div>
            </div>
        <!-- Message Filed Ends -->
        <!-- Send Button Starts -->
            <div class="col-xs-12">
                <input type="submit" class="btn btn-secondary btn-big animation" value="Enviar Registro">
            </div>
        <!-- Send Button Ends -->
        </div>
    <!-- Nested Row Ends -->
    </form>
<!-- Contact Form Ends -->
</div>